.bg-sign {
  background-image: url("../../assets/images/bg-auth.jpg");
  background-size: cover;
  background-position: center center;
  opacity: 0.91;
  .active {
    border-bottom: 2px solid #ffa704;
  }
}
