@import "../../scss";

.border-nav-top {
  border-color: $banner-color-right;
  &_logo {
    // font-size: 30px;
    color: rgb(20, 9, 1);
  }
}

nav {
  transition: position 2s ease-in-out;
  will-change: position;
}

.sticked {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(238, 255, 255);
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition: padding 1s;
  opacity: 0.9;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition-delay: 2s;
}
.dropdown ul li:hover > ul {
  display: inherit;
  transition-delay: 2s;
}

.notice-bell::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: rgba(255, 0, 0, 0.72);
  border-radius: 50%;
}

.nav-btn {
  display: none;
  opacity: 0;
}

@include mobile {
  .nav-btn {
    display: block;
    opacity: 1;
  }
  .navbar-pc {
    display: none;
  }
  .ul-nav-show ul li {
    color: rgb(54, 30, 1);
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    padding: 0.5rem;
    align-items: center;
    b {
      margin-left: 1rem;
    }
  }
}

@include tablet {
  .navbar-pc ul li,
  .navbar-pc ul li a {
    font-size: 12px;
  }
}
