@import "../../scss";
.parabolic-shape-footer {
  color: whitesmoke;
  width: 100%;
  height: 30%;
  background: radial-gradient(
    93.15% 5209.49% at 3.65% 66.91%,
    $banner-color-right 2%,
    $banner-color-left 100%
  );
  @keyframes slide-text {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-img {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .img-banner {
    animation: slide-img 2s ease forwards;
  }
  .text-banner {
    animation: slide-text 2s ease forwards;
  }
  clip-path: ellipse(80% 100% at bottom center);
  // @include tablet {
  //   box-shadow: blue 10px 10px 10px 10px;
  // }
}
