@import "../../scss";
.parabolic-shape {
  color: whitesmoke;
  width: 100%;
  height: 40%;
  background: radial-gradient(
    93.15% 5209.49% at 3.65% 66.91%,
    $banner-color-right 2%,
    $banner-color-left 100%
  );
  @keyframes slide-text {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-img {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .img-banner {
    animation: slide-img 2s ease forwards;
  }
  .text-banner {
    animation: slide-text 2s ease forwards;
  }
  clip-path: ellipse(80% 100% at top center);
  // @include tablet {
  //   box-shadow: blue 10px 10px 10px 10px;
  // }
}

.circle {
  &_1 {
    position: absolute;
    left: 40%;
    bottom: -10%;
    width: 8rem;
    height: 8rem;
    border-radius: 100rem;
    background: rgba(217, 217, 217, 0.1);
  }
  &_2 {
    position: absolute;
    left: 15%;
    top: 20%;
    width: 10rem;
    height: 10rem;
    border-radius: 100rem;
    background: rgba(217, 217, 217, 0.1);
  }
  &_3 {
    position: absolute;
    right: 0%;
    top: -10%;
    width: 11rem;
    height: 11rem;
    border-radius: 100rem;
    background: rgba(217, 217, 217, 0.1);
  }
}

// Swiper
.swiper_container {
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: auto !important;
  position: relative;
}

.swiper-slide img {
  width: 15rem;
  height: 23rem;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 2px 5px 15px 2px rgba(28, 36, 36, 0.726);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  // bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.slider-controler .swiper-button-next {
  left: 64% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  width: 1.5rem;
  border-radius: 50%;
  left: 36%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(142, 156, 190, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #b0dfeee0;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  position: relative !important;
  width: 15rem !important;
  bottom: 0 !important;
}

// .swiper-pagination .swiper-pagination-bullet {
//   filter: drop-shadow(0px 8px 24px rgba(166, 178, 209, 0.1));
// }

.swiper-pagination .swiper-pagination-bullet-active {
  background: #cde0e0a6;
}

@include tablet {
  .swiper-slide img {
    width: 12rem;
    height: 18rem;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 2px 5px 15px 2px rgba(28, 36, 36, 0.726);
  }
  .swiper-button-prev,
  .swiper-button-next,
  .slider-arrow {
    display: none;
    opacity: 0;
  }
}
@include mobile {
  .swiper-slide {
    width: 28rem;
    height: 36rem;
  }
  .swiper-slide img {
    width: 6rem;
    height: 10rem;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 2px 5px 15px 2px rgba(28, 36, 36, 0.726);
  }
}
